<div class="container mt-5">
  <div class="text-center">
    <h2>Form Builder</h2>
  </div>
  <form [formGroup]="formBuilderForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Lable</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
        placeholder="Lable name" formControlName="lable" name="lable" />
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Field Type</label>
      <select class="form-select" aria-label="Default select example" formControlName="fieldType" name="fieldType"
        (change)="getFieldType($event)">
        <option value=""></option>
        <option value="text">text</option>
        <option value="textarea">textarea</option>
        <option value="select">select</option>
        <option value="checkbox">checkbox</option>
        <option value="radio">radio</option>
      </select>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="name"
        formControlName="name" name="name" />
    </div>
    <div *ngIf="field === 'radio' || field ==='checkbox' || field=== 'select'" class="form-group">
      <label for="exampleInputEmail1">Options</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="options"
        formControlName="options" name="options" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Add field</button>
    </div>

  </form>
</div>
